/* Base CSS */

.alignleft {
	float: left;
	margin-right: 15px;
}

.alignright {
	float: right;
	margin-left: 15px;
}

.aligncenter {
	display: block;
	margin: 0 auto 15px;
}

a:focus {
	outline: 0 solid
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 15px;
	font-weight: 700;
	color: #222;
}

h2 {
	font-size: 32px;
}

body {
	font-size: 17px;
	color: #565656;
	font-family: 'Open Sans', sans-serif;
}

a:hover {
	text-decoration: none
}


/************** My CSS Style ***************/

section.section-padding {
	padding: 100px 0;
}

.section-title {
	text-align: center;
	color: #565656;
	font-size: 17px;
	margin-bottom: 70px;
}

.section-title h2 {
	color: #222;
	font-size:
}

.blog-box-bg-1 {
	background-image: url(../image/blog-box-1.jpg)
}

.blog-box-bg-2 {
	background-image: url(../image/blog-box-2.jpg)
}

.blog-box-bg-3 {
	background-image: url(../image/blog-box-3.jpg)
}

.blog-box-bg {
	height: 200px;
	background-position: center center;
	background-size: cover;
	background-color: #ddd;
	border: 1px solid #fdaf67;
	border-bottom: 0px solid;
}

.blog-box-content {
	border: 1px solid #f4f4f4;
	padding: 20px;
	transition: 0.3s;
}

.blog-box-content h3 {
	font-size:20px;
	margin-top: 15px;
}

.blog-meta i.fa {
	color: #fdaf67;
}

.blog-meta a {
	color: #565656;
}

.blog-meta {
	font-size: 14px;
}

.blog-meta span {
	margin-right: 10px;
}

.blog-meta span:last-child {
	margin-right: 0px;
}

.blog-readmore-btn {
	background: #fd8e2e;
	color: #fff;
	border-radius: 5px;
	padding: 10px 20px;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 5px;
	transition: 0.3s;
}

.blog-readmore-btn:hover {
	background: #333;
	color: #fff;
}

.single-blog-box:hover .blog-box-content {
	border-color: #fd8e2e;
}