/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
	font-family: 'Lato', sans-serif;
}
a:hover { text-decoration: none }

/********** Code for Quote Form *********/

.section-padding{
	padding:80px 0px;
}

.quote-form-wrap img{
    display: block;
    margin-right: 130px;
    margin-left: auto;
}

.blue-quote-form{
    background: #2ab6fb;
    margin-top: -65px;
	max-width: 770px;
	padding:30px 100px 0px;
}

.blue-quote-form h3{
	font-size:26px;
	text-transform:uppercase;
	color:#fff;
	text-align: center;
	position:relative;
	padding-bottom:20px;
}

.blue-quote-form h3::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 130px;
    background: #fff;
    left: 50%;
    height: 1px;
    margin-left: -65px;
}

.blue-quote-form h3::after {
    position: absolute;
    content: "";
    height:13px;
    width: 13px;
    border:2px solid #fff;
    border-radius:50%;
    left: 50%;
    bottom: -6px;
    margin-left:-6.5px;
    background:#2AB6FB;
}

.blue-quote-form input,.blue-quote-form textarea {
    border: none;
    background: none;
}

.blue-quote-form input, .blue-quote-form textarea {
    border-bottom: 1px solid #8fdafe;
    color: #fff;
	width:100%;
	padding:10px 0;
}

.blue-quote-form textarea{
	height:100px;
}

.blue-form-submit{
	text-align: center;
	margin-top:20px;
}

.blue-form-submit button[type=submit]{
	color:#2ab6fb;
	border:none;
	background:#fff;
	text-transform: uppercase;
	padding:10px;
	border-radius:4px;
	margin-bottom:50px;
}



/*placeholder color change code*/

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}